// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

section {
	padding: 60px 0;
}

footer {
	background: $gray-lighter;
	padding: 20px 0;

	span {
		text-align: center;
		display: block;
	}
}