// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

body {
	line-height: 1.5;
}

header {
	nav {
		#logo {
			img {
				height: 50px;
				padding: 5px;
			}
		}
	}
}

section {
	padding: 60px 0;
}

footer {
	background: $gray-lighter;
	padding: 20px 0;

	span {
		text-align: center;
		display: block;
	}
}

.col {
	img {
		width: 100%;
	}
}

#content {
  padding-top: 100px;
}