// Import Bootstrap Compass integration
@import "bootstrap-compass";

// Import custom Bootstrap variables
@import "bootstrap-variables";

// Import Bootstrap for Sass
@import "bootstrap";

body {
	line-height: 1.5;
}

a {
	@include transition(color .2s linear);
}

header {
	nav {
		#logo {
			img {
				height: 50px;
				padding: 5px;
			}

			a {
				color: $navbar-default-link-color;
				text-decoration: none;

				&:hover {
					color: $navbar-default-link-hover-color;
				}
			}
		}
	}
}

section {
	padding: 60px 0;
}

footer {
	background: $gray-lighter;
	padding: 20px 0;

	span {
		text-align: center;
		display: block;
	}
}

.col {
	img {
		width: 100%;
		border: 1px solid #555;
	}
}

#content {
  padding-top: 100px;
}

.date {
  width: 200px;
}